/*CSS de la página principal*/
.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family:"Figtree-Regular.ttf";
    src: url("fonts/Figtree/static/Figtree-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Figtree-Bold.ttf";
    src: url("fonts/Figtree/static/Figtree-Bold.ttf") format("truetype");
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-image: url("imagenes/fondo.png");
}
header{
    /*border: 1px solid #ce4545;*/
    min-height: 102px;
    max-height: 102px;
}
.titulo{
    /*background-color: #BEDFFD;
    /*border: 1px solid #d81159;*/
    width: 25%;
    min-height: 100px;
    max-height: 100px;
    position: relative;
    left: 0%;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/

    font-family: 'Rouge Script';
    font-size: 2.5rem;
    color: #006ba6;
}
.andrea{
    /*background-color: #BEDFFD;*/
    /*border: 1px solid #45b3ce;*/
    width: 10%; /*cambiar a 10*/
    min-height:100px;
    max-height: 100px;
    position: relative;
    left: 25%;
    bottom: 100px;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
}
.hortencia{
    /*background-color: #BEDFFD;
    /*border: 1px solid #45b3ce;*/
    width: 10%; /*cambiar a 10*/
    min-height:100px;
    max-height: 100px;
    position: relative;
    left: 35%;
    bottom: 200px;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
}
.lucia{
    /*background-color: #BEDFFD;
    /*border: 1px solid #45b3ce;*/
    width: 10%; /*cambiar a 10*/
    min-height:100px;
    max-height: 100px;
    position: relative;
    left: 45%;
    bottom: 300px;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
}
.registrar{
    /*posicion*/
    width: 15%;
    min-height: 50px;
    max-height: 50px;
    position: relative;
    left: 55%;
    bottom: 375.5px;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
}
.iniciasesion{
    width: 15%;
    min-height: 50px;
    max-height: 50px;
    position: relative;
    left: 70%;
    bottom:425.5px;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
}
.wishlist{
    width: 15%;
    min-height: 50px;
    max-height: 50px;
    position: relative;
    left: 85%;
    bottom:475px;
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
}
/*botón de las opciones REGISTRAR USUARIO, INICIAR SESIÓN Y WISHLIST*/
.boton1{
    /*apariencia*/
    font-family: 'Figtree-Regular.ttf';
    font-size: 1.2rem;
    color: #006ba6;
}
.boton1:hover{
    cursor:pointer;
    border-radius: 10px;
    font-family: 'Figtree-Bold.ttf';
    color: #fff;
    background-color: #002538;
}
/*CSS del menú principal en la página principal html*/
.menu{
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    position: sticky;

    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #FFF;
    border-radius: 5px;
}
.boton2{
    font-family: 'Figtree-Regular.ttf';
    font-size: 1.2rem;
    color: #006ba6;
}
.boton2:hover{
    cursor:pointer;
    font-family: 'Figtree-Bold.ttf';
    color: #002538;
}
.frame{
    width: 100%;
    min-height: 500px;
    border: 1px solid #BEDFFD;
}
.tira{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;    
}
/*CSS que comparten peliculas y libros*/
.contenido_img{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*CSS de la página de peliculas.html*/
.formato_datos_pelicula{
    font-family: 'Figtree-Regular.ttf';
    font-size: x-small;
    color: #002538;
    font-weight:200;
    text-align: center;
    min-width: 150px;
    max-width: 150px;    
}
.formato_pelicula {
    border: 2px solid #fff;
    margin: 5px; /*espacio para que los libros queden separados entre si*/
    min-width: 150px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;/*centra de forma horizontal*/
}.formato_pelicula:hover .formato_datos_pelicula{
    transform: scale(1.1);
    cursor:pointer;
    background-image: url(imagenes/fondo_libros.png);
    border: 2px solid #0496ff;
    display: block;
}
/*CSS de la página de libros.html*/
.formato_datos_libros{
    font-family: 'Figtree-Regular.ttf';
    font-size: x-small;
    color: #002538;
    font-weight:200;
    text-align: center;
    min-width: 200px;
    max-width: 230px;
}
.formato_libros .formato_datos_libros{
    border: 2px solid #fff;
    margin: 5px; /*espacio para que los libros queden separados entre si*/
    min-width: 120px;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;/*centra de forma horizontal*/
    display: block;
}
.formato_libros:hover{
    transform: scale(1.1);
    cursor:pointer;
    background-image: url(imagenes/fondo_libros.png);
    border: 2px solid #0496ff;
}
/*CSS de la pag registrar_usuario.html*/
.formulario{
    position: relative;
    text-align: center;
    font-family: 'Rouge Script';
    font-size: 1.2rem;
    color:#006ba6
}
.titulo_formulario{
    text-align: center;

    font-family: 'Rouge Script';
    font-weight: bold;
    font-size: 2rem;
    color:#d81159
}
.contenedor_formulario{
    width: 35%;
    margin: auto;/*sirve para centrar el contenedor y el formulario*/
    position: relative;
    top: 100px;
    align-items: center;
    border-color: #006ba6;
    border-radius: 7%;
    background-color: #BEDFFD;
}